.b-downloads_catalogs {
    background: rgba(157, 165, 168, 0.5);
}

.b-section_certificates {
    background-size: auto 100%;
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-color: #e4e3e8;
    padding: 10rem 0 11.5rem;
}
.b-section_catalogs {
    background-size: auto 100%;
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-color: #eaceb8;
    padding: 14rem 0 13.2rem;
}

.b-section__content-breadcrumbs {
    font-size: 1.2rem;
    border-bottom: 2px #c8caca solid;
    line-height: 1.1;
}

.b-section__content-subsection-title {
    padding: 10px 10px;
    font-size: 12px;
    height: 70px;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.9);
    text-decoration: underline;
}

.b-slider__title {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    bottom: 0;
    width: 100%;
    height: 60px;
    padding-top: 8px;
    text-align: center;
    color: #000000;
}

.b-slider__title-post {
    line-height: 10px;
    vertical-align: bottom;
    white-space: normal;
    font-size: 1.3rem;
}

.b-slider__document-title {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    bottom: 0;
    width: 100%;
    line-height: 50px;
    vertical-align: middle;
    height: 50px;
    text-align: center;
    color: #626363;
}

.b-slider__document-title-name {
    vertical-align: middle;
    white-space: normal;
    line-height: 1.6rem;
    font-size: 1.4rem;
    display: inline-block;
}

.b-slider__title-name {
    font-size: 1.6rem;
}

.b-section_reviews {
    padding-bottom: 8rem;
}

.b-section__content-all_projects {
    text-align: center;
    padding-top: 8rem;
}

.b-button_yellow-background {
    background-color: #d0d434;
}

.b-html_no-touch .b-button_gray-colored.b-button_all-projects:hover {
    border-color: #8e9192;
    color: #8e9192;
}

.b-html_no-touch .b-solutions-item__link:hover .b-button_solutions {
    background-color: rgba(80,80,80,1);
}
.b-html_no-touch .b-solutions-item__link .b-button_solutions {
    background-color: rgba(80,80,80,0.6);
}


.b-mobile-catalog__item {
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: auto 100%;
    padding: 6.5rem 0 6.5rem 7.5rem;
    border-top: 1px dotted #6E7172;
}

.b-mobile-catalog__link {
    font-size: 2rem;
    cursor: pointer;
}

.b-mobile-redirect-dialog {
    padding:1rem;

    border:7px solid  rgba(255,255,255, 0.8);
}
.b-mobile-redirect-dialog__content {
    text-align: center;
    padding:4.5rem 6.5rem;
    background: rgba(255,255,255, 0.8);
}


.b-mobile-redirect-dialog__link {
    display: block;
    cursor: pointer;
}

.b-section__content_catalog{
    width:1000px;
}

.delivery-details {
    padding-left: 80px;
}

.b-advantages__link_button:first-child {
    margin-left: 0;
}

.b-tabs-wrapper_payment-nav .b-tabs .b-tabs__tab .b-tabs__link {
    text-decoration: underline;
}

.b-tabs-wrapper .b-tabs__tab.active .b-tabs__link {
    text-decoration: none;
}

.popup-register, .popup-service {
    width: 550px;
    margin-left: calc(50% - 275px);
}