/* HEADERRRRR HODOR HODOR */

header{ font-size: 11px; font-weight: bold }
header a{ text-transform: uppercase }

.navbar-inverse{
    background-color: #6E7172;
    border: none;
}
.navbar-inverse .navbar-nav > li > a{
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    color: #ffffff;
}

#main-menu > li.active > a {
    background: none !important;
    color: #BEBEBE !important;
}

#main-logo-small{
    display: none;
    height: 30px;
    padding-top: 4px;
    padding-left: 6px;
}
#main-logo-small > img{ height: 17px; width: auto }

#main-search-form{
    height: 30px;

    margin-top: 0;
    margin-bottom: 0;

    padding-right: 0;
    padding-left: 22px;
}
#main-search-form input{
    width: 180px; /* todome: ХУЕТА ФИКСИРОВАННАЯ! */
    height: 30px;
    text-transform: uppercase;
    font-size: 10px;
    background-color: #c5c7c7;
}

#search-btn{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    margin-left: 155px;
    cursor: pointer;
}

.navbar-subnav{ background-color: #ffffff;}
.navbar-subnav > .container { padding-top: 8px;}
.navbar-subnav > .container > .dotted-bottom { padding-top: 5px;}

#main-marker{
    position: absolute;
    left: 48px;
    top: -8px;

    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;

    border-top: 3px solid #6D7172;
}

#main-submenu > a{ padding: 0 10px;}
#main-phone{
    font-size: 14px;
    font-weight: normal;
    margin-top: -2px;
}

#main-cart div {
    padding: 8px 14px 8px 14px ;
    margin-right: 15px;
    font-weight: bold;
    color: #505050;
    background-color: #C8CF76;
    text-align: center;
}
#main-cart:hover{ color: #505050 !important; background-color: rgb(202, 212, 62); }
#main-cart.cart-empty div, #main-cart.cart-empty:hover div {
    background: none;
    color: #ccc !important;
    padding-right: 30px;
} /* пустая корзина */
#main-cart.cart-empty > div > #main-cart-badge {display: none}
#header-login div, #header-logout div {
    padding: 8px 14px;
    margin-right: -15px;
    margin-left: 0;
    text-align: center;
}
#main-titleline{ margin-top: 29px; margin-bottom: 15px; }
#main-crubms{ height: 20px; margin-top: 20px; font-size: 13px }
#main-title{ margin-top: 0; }
#main-user{ margin-top: 23px; }

.navbar-brand{ padding: 23px 0 18px 0; }

#cabinet-arrow{
    display: inline-block;
    float: right;
    width: 20px;
    height: 20px;
    background: url('../images/sprite-other.png');
    background-repeat: no-repeat;
    background-position: -193px 2px;
}