@font-face {
    font-family: font-icons;
    src: url(icons.47c6a1ac947c34190cda1cafe989ed8b.eot);
    src: url(icons.47c6a1ac947c34190cda1cafe989ed8b.eot?#iefix) format("embedded-opentype"),
         url(icons.97d61cac9a78751596d392b8e8de61eb.woff) format("woff"),
         url(icons.24a68536d9a127f69c497961e1f4531a.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}
